@charset "UTF-8";

body{
    background-color: #CC8FC5;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #502274;
}

h1#principal{
    background-color: #502274;
    text-align: center;
    color: white;
}

h2{
    color: #A42CD6;
}

p{
    text-align: justify;
}

.basico{
    color: #3c805e;
}

.intermediario{
    color: #d2e626;
}

.avancado{
    color: rgb(201, 30, 30);
}