@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: gray;
    color: white;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

h1 {
    border: 1px dotted black;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.486);
    flex: 0 0 200px;
}

nav {
    border: 1px dotted black;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header > nav > a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 6px;
    text-align: center;
}

header > nav > a:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.4s;
}

main {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.452);
}